body{
    margin: 0px;
}
.example{
    background: #6aaff0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: background 3s;
}

h1, h2{
    margin: 0px;
    color: white;
    font-family: sans-serif;
}
/* set up keyframe and use it with animation https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp */
.myAnimation{  
    animation:myKeyFrame 5s infinite;
}
button{
    position: absolute;
    bottom: 40px;
}
@keyframes myKeyFrame {
    from {
        font-size: 30px;
        color:white;
        transform: rotate(0deg)
    }
    to {
        font-size: 130px;
        color: pink;
        transform: rotate(360deg)
    }
}

h2{
    display: none;
}
/* when screen width is less than or equal to 600px these styles will be applied.  */
@media (max-width: 600px) {
    .example {
      background-color: #f7af29;
    }
    h1{
        display: none;
    }
    h2{
        display: block;
    }
  }
/* when screen width is greater than 800px these styles will be applied */
@media (min-width: 800px) {
    .example {
      background-color: #d529f7;
    }
  }
  